* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--background-body);
    font-size: 16px;
    font-family: var(--font-family-Montserrat);
    font-weight: var(--font-weight);
}

a{
    text-decoration: none;
}

:root {
    --background-body: #F2F4F5;
    --blue: #007bff;
    --blue-dark: #08344e;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --grey: #6c757d;
    --grey-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #FF9A52;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    /*Breakpoints Responsive*/
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    /*Fonts*/
    --font-family: "Kanit", system-ui;
    --font-weight: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}